.password-container {
    display: flex;
    align-items: center;
}
input {
    flex: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: none;
}
div {
    outline: 1px solid black ;
    transition: 0.5s;
}
div:has(textarea:focus, input:focus){
    outline: 1px solid darkblue;
}

button {
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
}



textarea:focus, input:focus{
    outline: none;
}